{% extends "/base/base_admin.html" %}
{% block title %}Admin - Add product{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<style>

</style>

<h1 class="display-4">Add products</h1>
<form action="" method="POST" enctype="multipart/form-data">
    <label for="productName">Product name:</label><br>
    <input type="text" id="productName" name="productName"><br>
    <label for="productImage">Product Image:</label><br>
    <input type= "file" id="productImage" name="productImage"/>
    <label for="category">Category:</label>
    <select id="category" name="category">
        <option value="Coaster">Coaster</option>
        <option value="Pouch">Pouch</option>
        <option value="Tote bag">Tote bag</option>
    </select>
    <label for="price">Price:</label><br>
    <input type="text" id="price" name="price" required><br>
    <label for="stock">Stock:</label><br>
    <input type="number" id="stock" name="stock"><br>
    <textarea name="description" rows="10" cols="30">
    </textarea>
    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
{% endblock %}

<!--<form action="" method="POST" enctype="multipart/form-data">-->
<!--    <div class="form-group">-->
<!--        {{ render_field(form.product_name, class="form-control") }}-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <h2>Upload File</h2>-->
<!--        <input type= "file" name="file"/>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        {{ render_field(form.category, class="form-control") }}-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        {{ render_field(form.stock, class="form-control") }}-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        {{ render_field(form.price, class="form-control") }}-->
<!--    </div>-->
<!--    <div id="prof">-->
<!--        <div class="form-group">-->
<!--            {{ render_field(form.description, class="form-control") }}-->
<!--        </div>-->
<!--    </div>-->
<!--    <input type="submit" value="Submit" class="btn btn-primary"/>-->
<!--</form>-->

