{% extends "/base/base.html" %}
{% block title %}Library Loan System - Home{% endblock %}

{% block content %}
<h1 class="display-4">Login as admin</h1>
<form action="/login" method="post">
        <label for="staff_id">Staff ID:</label><br>
        <input type="text" id="staff_id" name="staff_id" required><br><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
</form>
<a href="/homeAdmin" class="btn btn-warning">LOGIN</a>
{% endblock %}