{% extends "/base/base_admin.html" %}
{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container">
    <h1>Change Password</h1>
    <div id="flash-messages">
          {% with messages = get_flashed_messages(with_categories=true) %}
              {% for category, message in messages %}
                  {% if category == 'error' %}
                      <div class="alert alert-danger">
                          {{ message }}
                      </div>
                  {% endif %}
              {% endfor %}
          {% endwith %}
    </div>

    <form action="/change_password" method="post">
        <div class="form-group">
            <label for="current_password">Current Password:</label>
            <input type="password" id="current_password" name="current_password" required>
        </div>
        <div class="form-group">
            <label for="new_password">New Password:</label>
            <input type="password" id="new_password" name="new_password" required>
        </div>
        <div class="form-group">
            <label for="confirm_new_password">Confirm New Password:</label>
            <input type="password" id="confirm_new_password" name="confirm_new_password" required oninput="checkPasswordMatch()">
        </div>
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
</div>
<script>
    function validateNewPassword() {
       let newPassword = document.getElementById("new_password").value;

    let errorMessage = '';
        if (newPassword.length < 8) {
            errorMessage += 'Password must be at least 8 characters long.<br>';
        }
        if (!/[A-Z]/.test(newPassword)) {
            errorMessage += 'Password must contain at least one uppercase letter.<br>';
        }
        if (!/[a-z]/.test(newPassword)) {
            errorMessage += 'Password must contain at least one lowercase letter.<br>';
        }
        if (!/\d/.test(newPassword)) {
            errorMessage += 'Password must contain at least one digit.<br>';
        }
        if (!/[!@#$%^&*(),.?":{}|<>]/.test(newPassword)) {
            errorMessage += 'Password must contain at least one special character.<br>';
        }

        document.getElementById("flash-messages").innerHTML = errorMessage;
    }

    function checkPasswordMatch() {
        let newPassword = document.getElementById("new_password").value;
        let confirmPassword = document.getElementById("confirm_new_password").value;
        if (newPassword !== confirmPassword) {
            document.getElementById("confirm_new_password").setCustomValidity("Passwords don't match");
        } else {
            document.getElementById("confirm_new_password").setCustomValidity('');
        }
    }
</script>
{% endblock %}
