
<h1>Edit Points for Customer {{ cust_id }}</h1>
<form method="post" action="{{ url_for('edit_points', cust_id=cust_id) }}">
    <label for="npc">Points collected:</label>
    <input type="text" id="npc" name="new_points_collected" required>
    <br><br>
    <label for="npr">Points redeemed:</label>
    <input type="text" id="npr" name="new_points_redeemed" required>
    <br><br>
    <label for="npl">Points left:</label>
    <input type="text" id="npl" name="new_points_left" required>
    <br><br>
    <button type="submit">Save</button>
</form>