{% extends "/base/base_admin.html" %}
{% block title %}Admin - Edit customer points{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<h1 class="display-4">Edit Customer's Points</h1>

<form method="POST" action="">
<div class="form-group">
{{ render_field(form.cust_id, class="form-control") }}
</div>
<div class="form-group">
{{ render_field(form.pts_collected, class="form-control") }}
</div>
<div class="form-group">
{{ render_field(form.pts_redeemed, class="form-control") }}
</div>
<div class="form-group">
{{ render_field(form.pts_left, class="form-control") }}
</div>
<input type="submit" value="Submit" class="btn btn-primary"/>
</form>
{% endblock %}