{% extends "/base/base_user.html" %}
{% block title %}Library Loan System - Home{% endblock %}

{% block content %}

<br>
    <div class="row">
        <h6>Discuss your opinion with staff and other customers</h6>
        <p>
            This is a forum page for our beloved customers to ask questions.
            Staff and other customers can suggest their opinion.
        </p>
        <h6>Give us a REVIEW!</h6>
        <p>
            This forum is also for customers to share their experiences with us. We appreciate the feedback.
            Since this will inform us about how our company is performing and how we could do better.
        </p>
    </div>

    <div>
        <form onsubmit="event.preventDefault();">
            <fieldset>
                <textarea id="subject" placeholder="subject(question/review)"></textarea>
                <br>
                <textarea id="message" placeholder="message" required></textarea>
                <br>
                <button type="button" onclick="submitComment()" class="cbutton">SUBMIT</button>
                <input type="reset" value="Reset" class="cbutton">
            </fieldset>
        </form>
        </div>
            <br><br>

            <fieldset>
                <h1> FORUM</h1>
                <hr>
                <div id="commentsList">
                    K***:<br>
                    Example 1
                    <textarea></textarea>
                    <hr>
                    R***<br>
                    Example 2
                    <hr>
                </div>
            </fieldset>

        <br>
{% endblock %}
