{% extends "/base/base_admin.html" %}
{% block title %}Point System{% endblock %}

{% block content %}
<h1>Point System</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Customer ID</th>
            <th>Points Collected </th>
            <th>Points Redeemed </th>
            <th>Points Left</th>
        </tr>
    </thead>
    <tbody>
        {% for points in points_list %}
            <tr>
                <td>{{ points.get_customer_id() }}</td>
                <td>{{ points.get_pts_collected() }}</td>
                <td>{{ points.get_pts_redeemed() }}</td>
                <td>{{ points.get_pts_left() }}</td>
                <td>
                    <form action="" method="POST">
                    <a href="/edit_points/{{points.get_customer_id()}}" class="btn btn-warning">Edit</a>
                    </form>
                </td>

            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('add_cus_ptss') }}" class="btn btn-success">Add</a>

{% endblock %}