{% extends "/base/base_user.html" %}
{% block title %}Library Loan System - Home{% endblock %}

{% block content %}
<style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f8f9fa;
    }
    h3 {text-align: center;
    }
    .container {
        width:10%;
        float: left;
        position:sticky;
    }

    .container2{
        width:89%;
        float: right;
        border: 1px solid;
        border-radius: 5px;
        background-color: rgba(211, 211, 211, 0.1);
        }
    a {
    text-decoration: none;
    color: black;
    opacity: 0.9;
    }
    a:hover {
    color: black;
    opacity: 0.6;
    }
    div {
        border: 0px red solid;
    }
<!--    .row, .col-sm,.col-sm-3, .col-sm-4, .col-sm-8 {-->
<!--        border: 1px red solid;-->
<!--    }-->
    .col-sm-3 {
    margin-bottom: 0;
    }
    .product-name {
        font-size: 20px;
        font-weight: bold;
    }
    .img-fluid-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-fluid {
        border: 1px solid;
        border-radius: 10px;
    }
    .p-desc {
        opacity: 0.8;
    }
    .p-Price {
        font-size: 25px;
        font-weight: bold;
        color: red;
        margin-bottom: 0px;

        }
</style>
<h3 class="mt-2 mb-2">Welcome to our shop</h3>
<div class="container">
    <div class="category">
        <h5>Categories</h5>
        <a href="#">Coaster</a><br>
        <a href="#">Pouch</a><br>
        <a href="#">Tote bag</a><br>
    </div>
</div>
<h5>&nbsp;&nbsp;&nbsp;Products</h5>
<div class="container2">
    <div class="item">
        {% for product in products_list %}
        <div class="row mb-3 mt-3">
            <div class="col-sm-4">
                 <div class="img-fluid-container">
                    {% if product.get_product_image() %}
                    <img src="{{ url_for('static', filename='product_images/' + product.get_product_image()) }}"
                         alt="{{ product.get_product_name() }} Image" class="img-fluid" style="max-width: 300px; max-height: 300px;">
                    {% else %}
                    No Image
                    {% endif %}
                 </div>
            </div>
            <div class="col-sm-8 d-flex flex-column">
                <div class="row mb-3">
                    <span class="product-name">{{ product.get_product_name() }}</span>
                    <br>
                    <div class="p-desc">
                        <div class="description">{{ product.get_description() }}</div>
                    </div>
                    <br>
                </div>
                <div class="mt-auto">
                    <div class="row mb">
                        <div class="p-Price">
                            $<span class="price">{{ product.get_price() }}</span>
                        </div>
                    </div>
                </div>
                <div class="mt-auto">
                    <div class="row">
                        <div class="col-sm-3">
                            <button class="btn btn-danger add-to-cart" data-product-id="{{ product.get_product_id() }}">Add to Cart</button>
                        </div>
                        <div class="col-sm-3">
                            <a href="/payment/{{product.get_product_id()}}" class="btn btn-danger">Buy Now</a>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3"></div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
<!--<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>-->
<!--<script>-->
<!--    $(document).ready(function() {-->
<!--        $('.add-to-cart').on('click', function() {-->
<!--            var Id = $(this).data('id');-->

<!--            $.ajax({-->
<!--                url: '/add_to_cart/' + Id,-->
<!--                method: 'POST',-->
<!--                success: function(response) {-->
<!--                    // Handle success (e.g., update UI to indicate item added to cart)-->
<!--                    alert('Item added to cart!');-->
<!--                },-->
<!--                error: function(error) {-->
<!--                    // Handle error-->
<!--                    alert('Error adding item to cart.');-->
<!--                }-->
<!--            });-->
<!--        });-->
<!--    });-->
<!--</script>-->
