{% extends "/base/base_admin.html" %}
{% block title %}Admin - Update product{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f8f9fa;
    }
    h3 {
        text-align: center;
    }
    .display-4 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    form {
        width: 70%;
        margin: 0 auto;
        background-color: #ffffff; /* Set a white background for the form */
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
        border-radius: 8px; /* Add rounded corners */
    }
    label {
        font-size: 22px;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 4px;
        display: block;
    }
    input[type="text"],
    input[type="number"],
    input[type="file"],
    category,
    textarea,
    input[type="submit"],{
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid #ced4da; /* Add a border with a light gray color */
      border-radius: 4px; /* Add rounded corners */
      margin-top: 3px;
    }
    input[type="submit"] {
      background-color: #007bff; /* Set a primary button color */
      color: #ffffff; /* Set text color for the button */
      cursor: pointer;
    }
    input[type="submit"]:hover {
      background-color: #0056b3; /* Change button color on hover */
    }
    .alert {
      margin-top: 20px;
    }
</style>

<h3>Update Product Details</h3>
<form action="" method="POST">
    <form action="" method="POST" enctype="multipart/form-data">
    <div class="form-control">
        <div class="form-group">
            <label for="productName">Product name:</label>
            <input type="text"  id="productName" name="productName" value="{{ product_name_data }}" class="form-control" required><br>
        </div>
        <div class="form-group">
            <label for="productImage">Product Image:</label>
            <input type= "file" id="productImage" name="productImage" value="{[ product_image_data }}" class="form-control" required><br>
        </div>
        <div class="form-group">
            <label for="category">Category:</label>
            <select id="category" name="category" class="form-control">
                <option value="Coaster" {% if category_data == 'Coaster' %}selected{% endif %}>Coaster</option>
                <option value="Pouch" {% if category_data == 'Pouch' %}selected{% endif %}>Pouch</option>
                <option value="Tote bag" {% if category_data == 'Tote bag' %}selected{% endif %}>Tote bag</option>
            </select><br>
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="text" id="price" name="price" class="form-control" value="{{ price_data }}" placeholder="eg. 10.55" required pattern="\d+(\.\d{1,2})?"><br>
        </div>
        <div class="form-group">
            <label for="stock">Stock:</label>
            <input type="number" id="stock" name="stock" min="1" class="form-control" value="{{ stock_data }}" placeholder="eg. 500" required><br>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea name="description" id="description" rows="10" cols="30" class="form-control" required>{{ description_data }}</textarea><br>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </div>
</form>
<script>
{% endblock %}
